body {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #090909;
  background-image: url("../images/bg.png");
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #fff;
}
a {
  text-decoration: none;
  color: #fff;
  line-height: 19px;
}

.container {
  width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  margin-top: 55px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item .nav-link {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
}

.nav-link {
  padding: 0;
}

.nav-item {
  margin: 0 25px;
}

.bars_box {
  position: relative;
  width: 100%;
  height: 100%;
}

.bar_line {
  position: absolute;
  right: 0%;
  width: 40px;
  height: 2px;
  background-color: #fff;
}

.bar_line::before {
  content: "";
  position: absolute;
  position: absolute;
  right: 0%;
  width: 40px;
  height: 2px;
  background-color: #fff;
  bottom: 5px;
}

.active {
  border-bottom: #fc4646 solid 1px;
}

.top {
  margin-top: 130px;
}

.top__inner {
  width: 980px !important;
  margin: 0 auto;
}

.slider {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.slider__content {
  width: 480px !important;
  margin-right: 10px;
}

.slider__content-head {
  font-weight: 700;
  color: #fc4646;
  font-size: 71px;
  line-height: 83px;
}

.slider__content-text {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  margin-bottom: 10px;
}

.slider__content-title {
  font-size: 18px;
  line-height: 23px;
  width: 460px;
}

.slider__img {
  height: 320px;
}

.slick-initialized .slick-slide {
  display: flex;
}

.slick-dots {
  margin-bottom: 130px;
  list-style: none;
  display: flex;
  font-size: 0;
  justify-content: center;
}

.slick-dots li button {
  background-color: #fff;
  width: 14px;
  height: 14px;
  border: none;
  outline: none;
  margin: 5px;
  border-radius: 50%;
}

.slick-dots .slick-active button {
  background-color: #fc4646;
  box-shadow: 0px 0px 7px #ff0c0c;
}

.top__inner-line {
  background-color: #fff;
  height: 3px;
  width: 540px;
  margin: 0 auto;
}

.catalog__card {
  position: relative;
  width: 280px;
  height: 420px;
  background: rgba(40, 40, 40, 0.49);
  margin-bottom: 20px;
  margin-right: 25px;
}

  .catalog__card:nth-child(4),
  .catalog__card:nth-child(8),
  .catalog__card:nth-child(12),
  .catalog__card:nth-child(16),
  .catalog__card:nth-child(20),
  .catalog__card:nth-child(24),
  .catalog__card:nth-child(28),
  .catalog__card:nth-child(32),
  .catalog__card:nth-child(36) {
    margin-right: 0px !important;
  }

.card__inner {
  padding-top: 17px;
  display: flex;
  justify-content: center;
}

.catalog__contet-text {
  text-align: center;
  margin: 90px 0 40px 0;
}

.catalog__content-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.catalog__btn {
  cursor: pointer;
  background: rgba(40, 40, 40, 0.49);
  padding: 13px 64.5px 13px 10px;
}

.catalog__content-left {
  display: flex;
  align-items: center;
  position: relative;
}

.slide__bar {
  cursor: pointer;
  width: 40px;
  height: 12px;
  position: relative;
  margin-right: 10px;
}

.slide__line {
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: #fff;
}

.slide__line::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 40px;
  top: 5px;
  background-color: #fff;
}

.slide__line::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 33px;
  top: 10px;
  background-color: #fff;
}

.catalog__list-link {
  display: block;
  width: 200px;
}

.catalog__list-link:hover {
  color: #eb2323;
}

.more {
  position: absolute;
  left: 170px;
}

.fa-chevron-right {
  font-size: 12px;
  margin-left: 25px;
}

.catalog__slide-list {
  list-style: none;
  padding: 15px 0 0 10px;
}

.catalog__list-item {
  margin-bottom: 12px;
}

/* .more{
  background-image: url("../images/more.svg");
  width: 11px;
  height: 11px;
  top: 5px;
  right: 13px;
  position: absolute;
  color: #ff0c0c;
}

.moreActive{
  background-image: url("../images/moreActive.svg");
  width: 11px;
  height: 11px;
  top: 5px;
  right: 13px;
  position: absolute;
  color: #ff0c0c;
} */

/* .more:hover{
  background-image: url("../images/moreActive.svg");
} */

/* .more::after{
  content: "";
  position: absolute;
  background-image: url("../images/more.svg");
  width: 11px;
  height: 11px;
  top: 5px;
  right: 13px;
} */

.catalog__slide {
  z-index: 1;
  top: 45px;
  left: 0;
  position: absolute;
  width: 215px;
  height: 460px;
  background-color: #282828;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  transform: translateY(5%);
}

.catalog__submenu {
  position: absolute;
  width: 215px;
  height: 460px;
  left: 215px;
  /* top: -15px; */
  bottom: 0px;
  background: #282828;
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
  transform: translateX(5%);
}

.catalog__submenu-up {
  position: absolute;
  width: 215px;
  height: 45px;
  top: -45px;
  background: rgba(40, 40, 40, 0.49);
}

/* submenu active */
.submenu-active {
  opacity: 1;
  visibility: visible;
  transform: translateX(0%);
}

/* submenu active */

.catalog__slide-active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0%);
}

.catalog__input {
  display: flex;
}

.catalog__menu-text:hover {
  color: #fff;
}

.catalog__menu-input {
  width: 320px;
  height: 40px;
  background: rgba(40, 40, 40, 0.49);
  border: none;
  outline: none;
  padding-left: 20px;
  color: #fff;
  font-weight: 400;
}
.catalog__menu-input-btn {
  width: 40px;
  height: 40px;
  background: rgba(40, 40, 40, 0.49);
  border: none;
  outline: none;
  position: relative;
}

.catalog__menu-input-btn::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 40px;
  background-color: #fff;
  top: 0;
  left: 0;
}

.catalog__btn-img {
  margin-top: 4px;
}

.catalog__nav {
  margin-bottom: 40px;
}

.card__inner-content {
  text-align: center;
  width: 248px;
}

.carad__inner-img {
  width: 176px;
  height: 277px;
  margin-bottom: 10px;
}

.card__text {
  text-align: left;
}

.card__text-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__inner {
  padding-top: 17px;
  display: flex;
  justify-content: center;
}

.carad__inner-img {
  width: 200px;
  height: 315px;
  margin-bottom: 10px;
}

.card__text-title {
  margin-bottom: 20px;
  display: block;
  font-weight: 500;
  font-size: 16px;
}
.title-text {
  margin-bottom: 10px;
}

.card__text-price {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
.card__text-title:hover,
.card__text-price:hover {
  color: #fff;
}

.card__like {
  cursor: pointer;
  display: flex;
}

.card__like .card__heart {
  background: url("../images/like.svg");
  width: 19px;
  height: 17px;
  transition: all 0.3s ease-out;
}

.card__like .card__heart-active {
  background: url("../images/likeActive.svg");
  width: 19px;
  height: 17px;
  transform: rotateY(360deg) scale(1.1);
  transition: all 0.3s ease-in;
}

.card__inner-basket {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease;
}

.card__inner-basket button {
  font-weight: 700;
  font-size: 16px;
  border: none;
  border-radius: 50px;
  color: #fff;
  width: 125px;
  height: 36px;
  background: #fc4646;
}

.card__inner-basket:hover {
  opacity: 1;
}

.cards {
  width: 1200px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 60px;
}

.catalog__end {
  display: flex;
  justify-content: center;
}

.btn {
  background-color: #fff;
}

/* 
@media  (max-width: 1210px) {

  
    .slider {
        justify-content: space-evenly;
        width: 940px;
    }
    .slick-slide{
    }
}
@media (max-width: 780px) {
    .container{
        width: 640px !important;
    }
    .header__inner img{
        padding-right: 10px;
    }
} */
