body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 32px;
}

*,
*::after,
*::before {
  color: #262626;
}

a {
  text-decoration: none;
}

a:hover {
  color: #fff;
}

.header {
  margin-top: 50px;
}
.container {
  width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__inner-img {
  margin-right: 170px;
}

.nav,
.nav a,
nav {
  color: #262626;
  padding: 0;
}

.nav-item {
  transition: all 0.3s;
}

.nav-item {
  padding-right: 25px;
  border-bottom: 1px transparent;
}

.nav-link:hover {
  color: #262626;
}

.active {
  border-bottom: solid #2aacd6 1px;
}

.nav-item a:hover {
  border-bottom: solid #2aacd6 1px;
}

.nav-link {
  padding: 0;
}
.modal-body {
  margin: 0 auto;
}
.modal__body-item {
  width: 375px;
  height: 120px;
  background: linear-gradient(
    111.29deg,
    #2aacd6 -21.43%,
    rgba(255, 255, 255, 0) 341.89%
  );
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  position: relative;
}

.modal__item-content {
  text-align: center;
}

.modal__item-content a {
  color: #fff;
}

.modal__item-text {
  font-size: 20px;
  display: block;
}

.phone::before {
  content: "";
  position: absolute;
  background-image: url("../images/call.svg");
  width: 18px;
  height: 18px;
  left: 90px;
  top: 35px;
}

.modal__item-title {
  font-size: 16px;
}

.modal-footer {
  margin-top: 20px;
}

.header__inner-btn {
  padding: 13px 30px 14px 53px;
  border-radius: 50px;
  background: linear-gradient(
    96.97deg,
    #2aacd6 9.04%,
    rgba(42, 172, 214, 0) 150.18%
  );
  position: relative;
}
.btn-a {
  color: #fff;
  display: flex;
  align-items: center;
}

.btn-a::before {
  content: "";
  position: absolute;
  background-image: url("../images/call.svg");
  width: 18px;
  height: 18px;
  left: 15%;
  color: #fff;
  margin-right: 5px;
}

.top {
  margin-top: 100px;
}
.top__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top__content {
  width: 585px;
}

.top__slider {
  width: 540px;
}

.content-title {
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  margin-bottom: 5px;
}
.top__content-title {
  font-weight: 500;
  font-size: 27px;
  margin-bottom: 25px;
}
.top__content-text {
  font-size: 27px;
  margin-bottom: 40px;
}
.top__content-text + .top__content-text {
  margin-bottom: 60px;
}

.top__btn {
  padding: 23px 71px;
  font-size: 20px;
  line-height: 23px;
  border-radius: 50px;
  color: #fff;
  background-color: #2aacd6;
}

/* .top__slider{

}
.top__slider-item {
} */

.top__slider-img {
  width: 540px;
  height: 366px;
}

.info {
  margin-top: 300px;
}
.info__inner {
  display: flex;
  justify-content: space-between;
}
.info__content-title {
  margin-bottom: 10px;
}
.info__content-text {
  font-size: 27px;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 10px;
}
.info__list {
  font-size: 27px;
  line-height: 32px;
  list-style: inside;
}

.info__img {
  width: 378px;
  height: 360px;
}

.catalog {
  margin-top: 300px;
}

.catalog__top {
  margin-bottom: 60px;
}

.catalog__text {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 23px;
  line-height: 27px;
}

.catalog__paper {
  display: flex;
  justify-content: space-between;
}

.catalog__slider-item {
  text-align: center;
  height: 360px;
  background: #fff;
  border-radius: 15px;
}

.catalog__paper-item {
  text-align: center;
  width: 355px;
  height: 360px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.catalog__slider-img {
  margin: 0 auto;
}

.slider__item-img {
  height: 212px;
  margin: 26px 0px 21px 0px;
}

.slider__item-image {
  height: 220;
  margin: 20px 0 20px 0;
}

.catalog__content {
  text-align: left;
  margin-left: 30px;
}

.catalog__slider-text {
  font-size: 22px;
  font-weight: 400;
  margin-top: 31px;
  display: block;
}

.text__slider {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 12px;
  display: block;
}

.a {
  color: #262626;
}

.a:hover {
  color: #262626;
}

.catalog__slider-btn {
  margin-top: 12px;
  padding: 11px 14px 10px 14px;
  border: 1px solid #2aacd6;
  box-sizing: border-box;
  filter: drop-shadow(2px 2px 5px #aaebff);
  border-radius: 50px;
  font-size: 15px;
  transition: all ease 0.3s;
}

.catalog__slider-btn:hover {
  color: #fff;
  background-color: #2aacd6;
}

.gallery {
  margin-top: 300px;
}

.gallery__top {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 23px;
  line-height: 27px;
  margin-bottom: 60px;
}

.gallery__item {
  width: 360px;
  height: 330px;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  transition: all 0.3s;
}

.gallery__item-img {
  width: 360px;
  height: 330px;
}

.gallery__item:hover {
  transform: scale(1.06);
}

.row {
  justify-content: space-between;
  margin: 0;
}

.slick-dots {
  list-style: none;
  display: flex;
  justify-content: center;
}

.slick-dots button {
  font-size: 0;
  display: flex;
  margin-top: 50px;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: none;
  border-radius: 50%;
  margin-right: 10px;
  background: rgba(42, 172, 214, 0.4);
  opacity: 0.8;
}

.slick-dots .slick-active button {
  background: #2aacd6;
  opacity: 0.8;
  width: 18px;
  height: 18px;
}
